<html>
	<body>
		<form action="/Audit/" method="post">
		<table cellpadding='5' cellspacing='5' width='100%' style='background-color:gray'>
			<tr>			
			<td align='center'>
				<table  cellpadding='5' cellspacing='5' width='95%'  style='background-color:white'>
					<tr>
						<td>
						<h1>Audit</h1>
						</td>
					</tr>
					
					<tr>
						<td>
						<hr/>
						</td>
					</tr>
					<tr>
					<td>
							<ul>
								<li><a href="../home">Home</a></li>
								<li><a href="../RDM">Invoke Playbook</a></li>
								<li><a href="../audit">View Audit Report</a></li>
								<li><a href="../hosts">Add New Host File</a></li>								
							</ul>
					</td>
					
					</tr>
					<tr>
						<td>
							<table cellpadding='5' cellspacing='0' border='1'>
								<tr>
								
								<th>USER</th>
								<th>LOG</th>
								<th>TRANSDATE</th>								
								</tr>								
								{% for a in Test %}										
									<tr>
									{% for b in a %}	
									<td>{{ b }}</td>
									{% endfor %}	
									</tr>
								{% endfor %}	
									
							</table>
							
						</td>
					</tr>
				</table>
			</td>
			</tr>			
		</table>
		</form>
	</body>

</html>