<html>
	<body>
		<form action="/login/" method="post">{% csrf_token %}
		<table cellpadding='5' cellspacing='5' width='100%' style='background-color:gray'>
			<tr>			
			<td align='center'>
				<table  cellpadding='5' cellspacing='5' width='95%'  style='background-color:white'>
					<tr>
						<td>
						<h1>Login Screen </h1>
						</td>
					</tr>
					
					<tr>
						<td>
						<hr/>
						</td>
					</tr>
					
					<tr>
						<td>
							Welcome : {{ user}}
							
							<ul>
								<li><a href="../index">Home</a></li>
								<li><a href="../RDM">Invoke Playbook</a></li>
								<li><a href="../audit">View Audit Report</a></li>
								<li><a href="../hosts">Add New Host File</a></li>								
							</ul>
						</td>
					</tr>
				</table>
			</td>
			</tr>			
		</table>
		</form>
	</body>

</html>