<html>
	<body>
		<form action="/Execute/" method="get">
		<table cellpadding='5' cellspacing='5' width='100%' style='background-color:gray'>
			<tr>			
			<td align='center'>
				<table  cellpadding='5' cellspacing='5' width='95%'  style='background-color:white'>
					<tr>
						<td>
						<h1>check</h1>
						</td>
					</tr>
					
					<tr>
						<td>
						<hr/>
						</td>
					</tr>
					
					<tr>
						<td>
							<table>
								<tr>								
								<td>								
								Select Playbook							
								</td>
								<td>								
								<select> 
									{% for a in Test %}										
									<option name="Name" value="{{ a  }}">{{ a  }}</option>									
									{% endfor %}										
								</select> 									
								</td>
								</tr>
								<tr>								
								<td>								
								Select Environment							
								</td>
								<td>								
								<select> 
									{% for a in value %}										
									<option name="Group" value="{{ a  }}">{{ a  }}</option>									
									{% endfor %}										
								</select> 									
								</td>
								</tr>
								<tr>
								<td></td><td><input type="submit" value="Execute"></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			</tr>			
		</table>
		</form>
	</body>

</html>